body p li span {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

    /* Navbar */
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    border-bottom: 2px solid lightgray;
    background-color: lightgray;

}

.logo {
    display: flex;
    gap: 10px;

}

.logo img {
    width: 90px;
    height: 90px;
}

.logo h1 {
    margin: auto 0;
}


.nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.nav li {
    display: inline;
    font-size: 30px;
    font-family: sans-serif;
    align-items: center;
}

li:not(:last-child):hover {
    cursor: pointer;
    background-color: white;
    color: rgb(94, 94, 221);
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s ease-in-out;

}

.nav ul li button {
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
    background-color: #2596be;
    color: white;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

a:hover {
    color: rgb(94, 94, 221);
}

.nav ul li button:hover {
    background-color: red;
    color: white;
    transition: 0.3s ease-in-out;
}

.nav ul li:last-child {
    margin-right: 20px;
}

/* Home section */




.home-section {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    margin-top: 110px;
    background: linear-gradient(to right, #f7f7f7, #e5bbee);

}

.home-text {
    flex: 1;
    padding: 40px;
}

.home-text h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.home-text p {
    font-size: 30px;
    font-family: sans-serif;
}

.home-text button {
    font-size: 30px;
    padding: 10px;
    background-color: #2596be;
    border: none;
    border-radius: 5px;
    color: white;

}

.home-text button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.home-section img {
    width: 300px;
    height: 450px;
    margin-right: 30px;
    border-radius: 10px;

}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
    display: none;
}


/* HERO SECTION */

/* left side  */

.main-hero-container {
    background: linear-gradient(to right, #dbbdd3, #b7f4ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section {

    scroll-padding-top: 50px;
    display: flex;
    max-width: 1000px;
    align-items: center;
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    gap: 40px;


}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 250px;
    border-radius: 15px;
}



.social-icon a {
    display: inline-block;
    font-size: 20px;
    color: #6c10d4;
    transition: all 0.3s ease;
}

.social-icon a:hover {
    color: rgb(226, 22, 209);
    cursor: pointer;
    transform: translateY(-10px);
}


/* right side  */


.profile-info {
    /* border: 3px solid red; */
    max-width: 600px;
    margin: 100px auto;
    text-align: left;
}

.profile-info h2 {
    font-size: 28px;
    font-weight: 700;
    color: #111;
    margin-bottom: 20px;
}


.profile-info p {
    font-size: 16px;
    color: #555;
    line-height: 1.7;
    margin-bottom: 15px;
}


.btn {
    gap: 15px;
    margin-top: 20px;
}

.btn button {
    padding: 10px;
    border: none;
    background-color: #6c10d4;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn button:hover {
    background-color: red;
}


/* SERVICE SECTION */

.proces-section {
    background-color: rgb(235, 234, 234);
    margin-top: -100px;
    padding: 120px 10% 80px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}

.text-section {
    max-width: 500px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
}

.card {
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    text-align: left;
    width: 200px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}



/* portfolio section */

.portfolio-section {
    padding: 100px 50px;
    text-align: center;
    /* margin-bottom: 40px; */
}

.portfolio-header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.portfolio-header p {
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto 50px auto;
}


.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    justify-items: center;
}

.portfolio-card {
    position: relative;
    /* overflow: hidden; */
    border-radius: 15px;
    width: 80%;
    height: 80%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.4s ease;
}

.portfolio-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.4s ease;
}

.portfolio-card :hover img {
    transform: scale(1.1);
}

.portfolio-card h3 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.portfolio-card p{

    text-align: center;
    font-size: 18px;
}

/* SERVICE_SECTION */

.service-section {
    background-color: rgb(238, 238, 238);
    padding: 80px 0px;
    /* border: 3px solid red; */
}


.service-container{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    display: 3px solid red;
}


.service-left-section {
    flex: 1;
    min-width: 500px;
    max-width: 40px;
}

.service-left-section h2 {
    font-size: 32px;
    font-weight: 700;

}

/* RESPONSIVE  */