.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.box {
    width: 250px;
    height: auto;
}

.card {
    border-radius: 5px;
    box-shadow: 0 0 8px gray;
    border: 2px solid black;
    padding: 10px;
    background: #fff;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.card:hover {

    box-shadow: 0 0 8px purple;
    color: green;
    font-weight: bold;
}

.card img {
    width: 100%
}



#pass {
   
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding-right: 40px;
}

#icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    cursor: pointer;
}

form {

    position: relative;
    display: inline-block;
}