/* table {
    border-collapse: collapse;
    width: 50%;
    font-family: sans-serif;
    margin: 20px auto;
}

th , td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th{
    background-color: rgb(235, 231, 231);
}

h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
} */